* {
	min-height: 0;
	font-size: 16px;
	font-family: otf-font-awesome;
}

window#waybar {
	background: #292b2e;
	color: #fdf6e3;
	padding: 0px; 
    margin: 0px;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1a1a1a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray,
#custom-power {
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#custom-power {
	padding: 0 10px;
	/* Si tienes un margen, redúcelo también */
    margin-top: 2px;
    margin-bottom: 2px;
}

#media_player {
    color: red;
}

#media_player .button {
    color: white;
    background: transparent;
    border-width: 0px;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    text-shadow: none;
}

#media_player .play-button{
}

#media_player .prev-button {
}

#media_player .next-button {
}

#media_player .players {
     color: white;
}

#media_player .title {
     color: white;
}
